<mat-toolbar color="primary">
	<mat-icon matSuffix>graphic_eq</mat-icon>
	HeyA
	<span style="flex: 1 1 auto"></span>

	<!-- <button mat-button routerLink="/scaner" >Scaner</button>
	<button mat-button *ngIf="auth.isAuthenticated" routerLink="/inbox" >Inbox</button>
    

    <button mat-button routerLink="/planer" >Planer</button>
    <button *ngIf="auth.isAuthenticated" mat-button routerLink="/" (click)="auth.logout()" >Log Out</button> -->
    <button mat-button *ngIf="!auth.isAuthenticated" routerLink="/login" >Login</button>
    
    <button mat-button *ngIf="auth.isAuthenticated" [matMenuTriggerFor]="menu" >Welcome {{auth.name}}
    </button>

    <mat-menu #menu="matMenu">
    	<button mat-button routerLink="/scanner" >Scanner</button>
    	<button mat-button routerLink="/user" >Profiles</button>
    	<button mat-button routerLink="/inbox" >Inbox</button>
    	<button mat-button routerLink="/planer" >Planer</button>
    	<button mat-button routerLink="/" (click)="auth.logout()" >Log Out</button>
    </mat-menu>




</mat-toolbar>