<div *ngFor="let message of webService.messages | async">
        <mat-card class="card">
        <mat-card-title >
            <a style="cursor: pointer">{{message.name}}</a>
  		<!-- <mat-checkbox style="float: right;"></mat-checkbox> -->

        

        <button mat-button style="float: right;" [matMenuTriggerFor]="menu"> 
        <mat-icon (click)="changeIcon('check_box')" matSuffix>
        expand_more
        </mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button [routerLink]="['/messages', message.name]" mat-menu-item>Accept</button>
          <button mat-menu-item>Decline</button>
        </mat-menu>

        </mat-card-title>
        <mat-card-content>{{message.message}}</mat-card-content>
        </mat-card>
    </div>