<mat-card>
	<mat-form-field>
		<input matInput [(ngModel)]="loginData.email" placeholder="Email" type="email">
	</mat-form-field>
	<mat-form-field>
		<input matInput [(ngModel)]="loginData.password" placeholder="Password" type="password">
	</mat-form-field>
	<button mat-raised-button color="primary" (click)="login()">Login</button>
	<button mat-raised-button *ngIf="!auth.isAuthenticated" routerLink="/register" >Register</button>
</mat-card>

<!-- <mat-card class="card">
	<mat-card-content>

		<mat-form-field appearance="outline">
			<mat-label>Name</mat-label>
			<input matInput [(ngModel)]="message.name" placeholder="John Doe">

			<mat-hint>Add any name</mat-hint>
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>Message</mat-label>
			<input matInput [(ngModel)]="message.message" placeholder="Heya, how're you going?">
			<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
			<mat-hint>Give a proper messages</mat-hint>
		</mat-form-field>

		<mat-card-actions class="post_button">
			<button (click)="post()" mat-stroked-button color="primary">POST</button>
		</mat-card-actions>
		<br>
		<br>

	</mat-card-content>
</mat-card> -->