
<mat-card >
	<mat-card-content>
		<img width="300" src="assets/img/logo.png">
		<br>
		<br>
		<mat-form-field style="width:350px" appearance="outline">
			<mat-label>Email</mat-label>
			<input matInput [(ngModel)]="loginData.email" placeholder="John Doe">

			<mat-hint>Enter your email</mat-hint>
		</mat-form-field>
		<br>
		<mat-form-field style="width:350px" appearance="outline">
			<mat-label>Password</mat-label>
			<input type="password" matInput [(ngModel)]="loginData.password" placeholder="Enter your password">
			<mat-icon matSuffix>wb_sunny</mat-icon>
			<mat-hint>Enter your password</mat-hint>
		</mat-form-field>
		<br>
		<button mat-raised-button color="primary" (click)="login()">Login</button>
	<button mat-raised-button *ngIf="!auth.isAuthenticated" routerLink="/register" >Register</button>
		<br>
		<br>

	</mat-card-content>
</mat-card>